.dice-template {
  padding: 50px;

  .dice-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 100px;

    .title {
      font-size: 35px;
      color: var(--purple);

      h1 {
        margin: 0;
        line-height: normal;
      }
    }
  }
  app-dice-roller {
    display: flex;
    justify-content: flex-end;
  }
}
