<div class="dice-roller">
  <div class="dice">
    <div class="die-wrapper" *ngFor="let die of dice$ |async ; trackBy: trackByFn">
      <app-die
        class="die"
        [sides]="die.sides"
        [value]="die.value"
        [isRolling$]="isRolling$"
      />
      <app-dice-sides-selector
        [id]="die.id"
        [sides]="die.sides"
        (sidesChange)="diceSidesChange.next($event)"
      />
  </div>
  {{ total$ | async }}
  </div>
  <div class="dice-actions">
    <app-slider-display (countChange)="diceCount.next($event)" />
     <button class="btn roll-btn" (click)="roll.next()">ROLL</button>
    <!--<button
      [disabled]="saveDisabled | async"
      class="btn save-btn"
      [class.disabled]="saveDisabled | async"
      (click)="save()"
    >
      SAVE
    </button> -->
  </div>
</div>
