.dice-roller {
  background-color: var(--white);
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;

  .dice {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    justify-content: center;
    align-items: center;
  }

  .die-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;

    .die {
      display: grid;
      justify-content: center;
    }
  }
  .dice-actions {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    gap: 20px;
  }

  .btn {
    height: 50px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: "Sigmar One", sans-serif;
  }

  .roll-btn {
    max-width: 300px;
    background-color: var(--green);
    color: var(--purple);

    &:hover {
      background-color: var(--green-hover);
    }
  }

  .save-btn {
    background-color: var(--purple);
    color: var(--green);
    max-width: 250px;

    &:hover {
      background-color: var(--purple-hover);
    }
  }

    .disabled {
      opacity: 0.5;
      background-color: var(--grey);
      color: var(--white);

      &:hover {
        background-color: var(--grey);
      }
    }

}
