.history {
  background-color: var(--white);
  border-radius: 15px;
  height: 500px;
  max-height: 600px;
  overflow-y: auto;

  .switch {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    color: var(--purple);
    background-color: var(--white);

    .switch-item {
      cursor: pointer;
      &:hover {
        color: var(--purple-hover);
      }
    }

    .active {
      color: var(--purple-active);
      border-bottom: 3px solid var(--purple-active);
    }
  }
  .list-wrapper {
    padding: 20px 0 0 20px;
  }
}
