<div class="history">
  <div class="switch">
    <span
      (click)="showList(ListType.HISTORY)"
      class="switch-item"
      [class.active]="listType === ListType.HISTORY"
    >
      History
    </span>
    <span
      (click)="showList(ListType.SAVED)"
      class="switch-item"
      [class.active]="listType === ListType.SAVED"
    >
      Saved
    </span>
  </div>
  <div class="list-wrapper">
    <app-dice-history-list
      *ngIf="listType === ListType.HISTORY"
      [history]="history$ | async"
    />
    <app-dice-history-list
      *ngIf="listType === ListType.SAVED"
      [history]="saved$ | async"
    />
  </div>
</div>
